body {
    text-align: center;
}

.container {
    width: 1000px;
    height: 500px;
    border: 2px solid;
    display: inline-block;
    margin-top: 20px;
}

.image {
    width: 1000px;
    height: 500px;
    background: url("images/icon.png"), url("images/background.jpeg");
    background-repeat: no-repeat, no-repeat;
    background-position: 390px 130px, center;
    background-size: 150px, 1000px;
}