body {
    text-align: center;
}

.container {
    border: 2px solid;
    display: inline-block;
    width: 100px;
    height: 100%;
}

a {
    margin: 10px;
    display: block;
}

a[href^="www.word1"] {
    color: green;
}

a[href$="word2"] {
    color: violet;
}

a[href*="anyword"] {
    color: pink;
}

a[href|="word3"] {
    color: red;
}