h1 {
    background-color: aquamarine;
    text-align: center;
}

h4 {
    background-color:aqua;
}

span {
    border: 2px solid gray;
    margin: 100px;
}

a {
    border: 3px dotted deepskyblue;
    margin: 20px;
}

div {
    border: 3px solid blueviolet;
    border-radius: 10px;
    text-align: center;
    margin: 100px;
}

h5 {
    border: 3px dotted violet;
    border-radius: 10px;
    text-align: center;
    margin: 50px;
}