body {
    text-align: center;
}

.container {
    width: 1000px;
    height: 500px;
    border: 2px solid;
    display: inline-block;
    margin-top: 30px;
}

.image {
    width: 1000px;
    height: 500px;
    background: url("images/icons.jpeg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px;
}